---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [68]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    uni = (pd.read_csv('university_towns.txt',
                  names=['UniTown']))
    state = []
    towns = []
    for i in uni.itertuples() :
        if "[edit]" in i[1] :
            state.append(i[1].split('[')[0])
        else :
            uni.at[i, 'State'] = state[-1]
            x = (state[-1], i[1].split(' (')[0])
            towns.append(x)
    df = pd.DataFrame(towns, columns=['State','RegionName'])
    return df

In [122]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3.
    A recession is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.'''
    gpd = pd.read_excel('gdplev.xls',
                           sheet_name='Sheet1',
                           usecols=[4,6],
                           skiprows=218,
                           nrows=67,
                           names=['Quarter','GPD'])
    gpd['GPD_last'] = gpd['GPD'].shift(1)
    gpd.dropna(inplace=True)
    def direction(row) :
        if row['GPD'] > row['GPD_last'] :
            x = 'Increase'
            return x
        else :
            x = 'Decrease'
            return x
        row['chg'] = x
        return row
    gpd['chg'] = gpd.apply(direction, axis=1)
    df = gpd[['Quarter','chg']]
    df['consecutive'] = df['chg'].shift(1)
    def rec_start(row) :
        if row['chg'] == 'Decrease' and row['consecutive'] == 'Decrease' :
            x = 'Start'
            return x
        elif row['chg'] == 'Increase' and row['consecutive'] == 'Increase' :
            x = 'End'
            return x
        else :
            x = None
            return x
        row['rec_start'] = x
        return row
    df['rec_start'] = df.apply(rec_start, axis=1)
    answer = df[df['rec_start']=='Start']
    return answer.iloc[0,0]
#print(type(get_recession_start()))
#print(get_recession_start())

C:\Users\rpembert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'str'>
2008q4

In [130]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gpd = pd.read_excel('gdplev.xls',
                           sheet_name='Sheet1',
                           usecols=[4,6],
                           skiprows=218,
                           nrows=67,
                           names=['Quarter','GPD'])
    gpd['GPD_last'] = gpd['GPD'].shift(1)
    gpd.dropna(inplace=True)
    def direction(row) :
        if row['GPD'] > row['GPD_last'] :
            x = 'Increase'
            return x
        else :
            x = 'Decrease'
            return x
        row['chg'] = x
        return row
    gpd['chg'] = gpd.apply(direction, axis=1)
    df = gpd[['Quarter','chg']]
    df['consecutive'] = df['chg'].shift(1)
    def rec_start(row) :
        if row['chg'] == 'Decrease' and row['consecutive'] == 'Decrease' :
            x = 'Start'
            return x
        elif row['chg'] == 'Increase' and row['consecutive'] == 'Increase' :
            x = 'End'
            return x
        else :
            x = None
            return x
        row['rec_start'] = x
        return row
    df['rec_start'] = df.apply(rec_start, axis=1)
    start_year = get_recession_start()
    df = df[df['Quarter']>start_year]
    df = df[df['rec_start']=='End']
    return df.iloc[0,0]
#print(type(get_recession_end()))
#print(get_recession_end())

C:\Users\rpembert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\rpembert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'str'>
2009q4

In [144]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gpd = pd.read_excel('gdplev.xls',
                           sheet_name='Sheet1',
                           usecols=[4,6],
                           skiprows=218,
                           nrows=67,
                           names=['Quarter','GPD'])
    start = get_recession_start()
    end = get_recession_end()
    df = gpd[gpd['Quarter'].between(start, end)]
    min_ = df['GPD'].min()
    return df[df['GPD']==min_].iloc[0,0]
print(type(get_recession_bottom()))
print(get_recession_bottom())

C:\Users\rpembert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\rpembert\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'str'>
2009q2

In [156]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    zhvi = pd.read_csv('City_Zhvi_AllHomes.csv').set_index(['State','RegionName'])
    
    return zhvi
print(type(convert_housing_data_to_quarters()))
print(convert_housing_data_to_quarters().shape)
print(convert_housing_data_to_quarters())

<class 'pandas.core.frame.DataFrame'>
(10730, 249)
                           RegionID                           Metro  \
State RegionName
NY    New York                 6181                        New York
CA    Los Angeles             12447  Los Angeles-Long Beach-Anaheim
IL    Chicago                 17426                         Chicago
PA    Philadelphia            13271                    Philadelphia
AZ    Phoenix                 40326                         Phoenix
NV    Las Vegas               18959                       Las Vegas
CA    San Diego               54296                       San Diego
TX    Dallas                  38128               Dallas-Fort Worth
CA    San Jose                33839                        San Jose
FL    Jacksonville            25290                    Jacksonville
CA    San Francisco           20330                   San Francisco
TX    Austin                  10221                          Austin
MI    Detroit                 17762                         Detroit
OH    Columbus                10920                        Columbus
TN    Memphis                 32811                         Memphis
NC    Charlotte               24043                       Charlotte
TX    El Paso                 17933                         El Paso
MA    Boston                  44269                          Boston
WA    Seattle                 16037                         Seattle
MD    Baltimore                3523                       Baltimore
CO    Denver                  11093                          Denver
DC    Washington              41568                      Washington
TN    Nashville                6118                       Nashville
WI    Milwaukee                5976                       Milwaukee
AZ    Tucson                   7481                          Tucson
OR    Portland                13373                        Portland
OK    Oklahoma City           33225                   Oklahoma City
NE    Omaha                   40152                           Omaha
NM    Albuquerque             23429                     Albuquerque
CA    Fresno                  18203                          Fresno
...                             ...                             ...
TX    Granite Shoals          49199                             NaN
MD    Piney Point             49693       California-Lexington Park
WI    Maribel                 50374                       Manitowoc
ID    Middleton               50539                      Boise City
CO    Bennett                 50963                          Denver
NH    East Hampstead          51793                          Boston
MO    Garden City             52166                     Kansas City
AR    Mountainburg            53456                      Fort Smith
WI    Oostburg                53730                       Sheboygan
CA    Twin Peaks              54771                       Riverside
NY    Upper Brookville        54802                        New York
HI    Volcano                 54995                            Hilo
SC    Wedgefield              55072                          Sumter
MI    Williamston             55210                         Lansing
AR    Decatur                 55357                    Fayetteville
TN    Briceville              55476                       Knoxville
IN    Edgewood                55706                    Indianapolis
TN    Palmyra                 56183                     Clarksville
MD    Saint Inigoes           56845       California-Lexington Park
IN    Marysville              56943     Louisville/Jefferson County
CA    Forest Falls            57212                       Riverside
MO    Bois D Arc             171874                     Springfield
VA    Henrico                182023                        Richmond
NJ    Diamond Beach          188693                      Ocean City
TN    Gruetli Laager         227014                             NaN
WI    Town of Wrightstown    398292                       Green Bay
NY    Urbana                 398343                         Corning
WI    New Denmark            398496                       Green Bay
CA    Angels                 398839                             NaN
WI    Holland                399114                       Sheboygan

                                     CountyName  SizeRank   1996-04   1996-05  \
State RegionName
NY    New York                           Queens         1       NaN       NaN
CA    Los Angeles                   Los Angeles         2  155000.0  154600.0
IL    Chicago                              Cook         3  109700.0  109400.0
PA    Philadelphia                 Philadelphia         4   50000.0   49900.0
AZ    Phoenix                          Maricopa         5   87200.0   87700.0
NV    Las Vegas                           Clark         6  121600.0  120900.0
CA    San Diego                       San Diego         7  161100.0  160700.0
TX    Dallas                             Dallas         8       NaN       NaN
CA    San Jose                      Santa Clara         9  224500.0  224900.0
FL    Jacksonville                        Duval        10   77500.0   77200.0
CA    San Francisco               San Francisco        11  262500.0  263500.0
TX    Austin                             Travis        12       NaN       NaN
MI    Detroit                             Wayne        13       NaN       NaN
OH    Columbus                         Franklin        14   83100.0   83200.0
TN    Memphis                            Shelby        15   60600.0   60500.0
NC    Charlotte                     Mecklenburg        16   94500.0   94900.0
TX    El Paso                           El Paso        17   67400.0   67800.0
MA    Boston                            Suffolk        18  123100.0  122800.0
WA    Seattle                              King        19  164400.0  163900.0
MD    Baltimore                  Baltimore City        20   53200.0   53900.0
CO    Denver                             Denver        21   98700.0   99200.0
DC    Washington           District of Columbia        22       NaN       NaN
TN    Nashville                        Davidson        23   83100.0   83800.0
WI    Milwaukee                       Milwaukee        24   68100.0   68100.0
AZ    Tucson                               Pima        25   91500.0   91500.0
OR    Portland                        Multnomah        26  121100.0  122200.0
OK    Oklahoma City                    Oklahoma        27   64900.0   65400.0
NE    Omaha                             Douglas        28   88900.0   89600.0
NM    Albuquerque                    Bernalillo        29  115400.0  115600.0
CA    Fresno                             Fresno        30   90400.0   90400.0
...                                         ...       ...       ...       ...
TX    Granite Shoals                     Burnet     10701       NaN       NaN
MD    Piney Point                   Saint Marys     10702  148400.0  152300.0
WI    Maribel                         Manitowoc     10703       NaN       NaN
ID    Middleton                          Canyon     10704  103100.0  103200.0
CO    Bennett                             Adams     10705   83800.0   85900.0
NH    East Hampstead                 Rockingham     10706  132200.0  128600.0
MO    Garden City                          Cass     10707       NaN       NaN
AR    Mountainburg                     Crawford     10708   55600.0   55500.0
WI    Oostburg                        Sheboygan     10709   86300.0   84900.0
CA    Twin Peaks                 San Bernardino     10710   85500.0   85200.0
NY    Upper Brookville                   Nassau     10711  897200.0  894000.0
HI    Volcano                            Hawaii     10712  114600.0  108600.0
SC    Wedgefield                         Sumter     10713       NaN       NaN
MI    Williamston                        Ingham     10714  120900.0  124800.0
AR    Decatur                            Benton     10715   54700.0   55100.0
TN    Briceville                       Anderson     10716   37000.0   37500.0
IN    Edgewood                          Madison     10717       NaN       NaN
TN    Palmyra                        Montgomery     10718       NaN       NaN
MD    Saint Inigoes                 Saint Marys     10719  137400.0  136900.0
IN    Marysville                          Clark     10720       NaN       NaN
CA    Forest Falls               San Bernardino     10721   76400.0   75600.0
MO    Bois D Arc                         Greene     10722   77700.0   77500.0
VA    Henrico                           Henrico     10723  110200.0  110500.0
NJ    Diamond Beach                    Cape May     10724  136500.0  136800.0
TN    Gruetli Laager                     Grundy     10725   24800.0   24300.0
WI    Town of Wrightstown                 Brown     10726       NaN       NaN
NY    Urbana                            Steuben     10727   66900.0   65800.0
WI    New Denmark                         Brown     10728       NaN       NaN
CA    Angels                          Calaveras     10729  115600.0  116400.0
WI    Holland                         Sheboygan     10730  129900.0  130200.0

                            1996-06   1996-07   1996-08   1996-09  ...  \
State RegionName                                                   ...
NY    New York                  NaN       NaN       NaN       NaN  ...
CA    Los Angeles          154400.0  154200.0  154100.0  154300.0  ...
IL    Chicago              109300.0  109300.0  109100.0  109000.0  ...
PA    Philadelphia          49600.0   49400.0   49400.0   49300.0  ...
AZ    Phoenix               88200.0   88400.0   88500.0   88900.0  ...
NV    Las Vegas            120400.0  120300.0  120200.0  120300.0  ...
CA    San Diego            160400.0  160100.0  159600.0  159100.0  ...
TX    Dallas                    NaN       NaN       NaN       NaN  ...
CA    San Jose             225400.0  226100.0  227100.0  228100.0  ...
FL    Jacksonville          76800.0   76600.0   76300.0   76000.0  ...
CA    San Francisco        264100.0  265000.0  266300.0  267300.0  ...
TX    Austin                    NaN       NaN       NaN       NaN  ...
MI    Detroit                   NaN       NaN       NaN       NaN  ...
OH    Columbus              83300.0   83500.0   83600.0   83700.0  ...
TN    Memphis               60700.0   60800.0   61000.0   61300.0  ...
NC    Charlotte             95700.0   96400.0   97100.0   98300.0  ...
TX    El Paso               68000.0   68300.0   68300.0   68600.0  ...
MA    Boston               123100.0  123800.0  124600.0  125400.0  ...
WA    Seattle              163600.0  163400.0  163600.0  163900.0  ...
MD    Baltimore             54400.0   54700.0   54800.0   54800.0  ...
CO    Denver                99600.0  100200.0  101100.0  102000.0  ...
DC    Washington                NaN       NaN       NaN       NaN  ...
TN    Nashville             84800.0   85900.0   86500.0   87000.0  ...
WI    Milwaukee             68100.0   67800.0   67600.0   67700.0  ...
AZ    Tucson                91600.0   91500.0   91500.0   91700.0  ...
OR    Portland             123000.0  123600.0  124300.0  125300.0  ...
OK    Oklahoma City         65700.0   65800.0   66000.0   66200.0  ...
NE    Omaha                 90400.0   90800.0   91000.0   91100.0  ...
NM    Albuquerque          116000.0  116700.0  117000.0  116900.0  ...
CA    Fresno                90200.0   90000.0   89800.0   89600.0  ...
...                             ...       ...       ...       ...  ...
TX    Granite Shoals            NaN       NaN       NaN       NaN  ...
MD    Piney Point          153600.0  153100.0  151800.0  148300.0  ...
WI    Maribel                   NaN       NaN       NaN       NaN  ...
ID    Middleton            103300.0  103000.0  102400.0  102200.0  ...
CO    Bennett               87100.0   88100.0   89200.0   90100.0  ...
NH    East Hampstead       125500.0  125200.0  125400.0  124200.0  ...
MO    Garden City               NaN       NaN       NaN       NaN  ...
AR    Mountainburg          55400.0   56200.0   56900.0   56800.0  ...
WI    Oostburg              83800.0   83700.0   84600.0   85100.0  ...
CA    Twin Peaks            84600.0   84400.0   84900.0   85700.0  ...
NY    Upper Brookville     891300.0  894400.0  895900.0  894400.0  ...
HI    Volcano              102400.0   96700.0   93600.0   91900.0  ...
SC    Wedgefield                NaN       NaN       NaN       NaN  ...
MI    Williamston          128200.0  130200.0  131500.0  132400.0  ...
AR    Decatur               55100.0   54700.0   54500.0   54600.0  ...
TN    Briceville            36700.0   36100.0   35900.0   35300.0  ...
IN    Edgewood                  NaN       NaN       NaN       NaN  ...
TN    Palmyra                   NaN       NaN       NaN       NaN  ...
MD    Saint Inigoes        137500.0  138600.0  138300.0  136200.0  ...
IN    Marysville                NaN       NaN       NaN       NaN  ...
CA    Forest Falls          74100.0   73100.0   72900.0   73900.0  ...
MO    Bois D Arc            77700.0   78600.0   79400.0   79700.0  ...
VA    Henrico              110900.0  111100.0  111000.0  111000.0  ...
NJ    Diamond Beach        137000.0  135200.0  133100.0  132700.0  ...
TN    Gruetli Laager        24500.0   25000.0   25300.0   25600.0  ...
WI    Town of Wrightstown       NaN       NaN       NaN       NaN  ...
NY    Urbana                65500.0   65100.0   65600.0   65900.0  ...
WI    New Denmark               NaN       NaN       NaN       NaN  ...
CA    Angels               118000.0  119000.0  118400.0  116900.0  ...
WI    Holland              130300.0  129100.0  127900.0  128000.0  ...

                           2015-11  2015-12  2016-01  2016-02  2016-03  \
State RegionName
NY    New York              573600   576200   578400   582200   588000
CA    Los Angeles           558200   560800   562800   565600   569700
IL    Chicago               207800   206900   206200   205800   206200
PA    Philadelphia          122300   121600   121800   123300   125200
AZ    Phoenix               183800   185300   186600   188000   189100
NV    Las Vegas             190600   192000   193600   194800   195400
CA    San Diego             525700   526700   527800   529200   531000
TX    Dallas                134600   136600   138700   140600   142200
CA    San Jose              789700   792100   795800   803100   811900
FL    Jacksonville          132000   132500   133100   133900   134900
CA    San Francisco        1105800  1112300  1117400  1122700  1125200
TX    Austin                287300   289300   291100   293400   296000
MI    Detroit                38500    38400    38300    38000    37600
OH    Columbus              115200   115800   116200   116700   117200
TN    Memphis                69600    69800    69900    70800    72000
NC    Charlotte             162800   164300   165500   166500   167400
TX    El Paso               110200   110000   110200   110600   111200
MA    Boston                471000   474600   478700   482900   486200
WA    Seattle               533700   538700   544300   551200   559700
MD    Baltimore             113600   114000   114500   114700   114800
CO    Denver                330500   332100   333500   335600   337600
DC    Washington            501200   502500   503800   504700   503800
TN    Nashville             189300   191400   193300   195100   196800
WI    Milwaukee              94600    94300    94200    94600    95200
AZ    Tucson                148200   148400   148800   149500   150300
OR    Portland              343400   347800   351900   356100   360000
OK    Oklahoma City         127300   127700   127600   127700   128400
NE    Omaha                 140300   140500   140900   141600   142400
NM    Albuquerque           167300   167800   168300   169100   169900
CA    Fresno                187600   187700   187900   189000   190200
...                            ...      ...      ...      ...      ...
TX    Granite Shoals        128200   129900   131500   133700   136100
MD    Piney Point           309800   312600   315900   319900   322700
WI    Maribel               129100   129700   128900   127600   127000
ID    Middleton             151100   152300   153200   154000   154500
CO    Bennett               195700   197400   198500   199400   201400
NH    East Hampstead        269600   270600   271200   272400   274000
MO    Garden City           103600   104800   105200   105800   107800
AR    Mountainburg           90100    93400    96300    98600   100100
WI    Oostburg              132000   132500   132700   132600   133000
CA    Twin Peaks            159200   160600   162400   164400   165700
NY    Upper Brookville     1833700  1854900  1879300  1905900  1928300
HI    Volcano               232500   236400   239700   241800   244700
SC    Wedgefield             69000    68500    68200    68500    69900
MI    Williamston           182700   181800   180800   181000   182600
AR    Decatur                97200    97400    96900    96300    96300
TN    Briceville             43200    41700    40800    40500    41100
IN    Edgewood              100200   101100   100200    98900    99200
TN    Palmyra               126400   127600   127300   127300   128400
MD    Saint Inigoes         277200   275800   276300   279500   282200
IN    Marysville            119800   124100   127200   129500   128000
CA    Forest Falls          199700   195300   190400   187500   188000
MO    Bois D Arc            149800   149100   148000   146900   145700
VA    Henrico               213800   215100   216000   216200   215900
NJ    Diamond Beach         400100   401600   403100   405000   405500
TN    Gruetli Laager         71800    72900    74500    75700    75800
WI    Town of Wrightstown   149900   150100   150300   150000   149200
NY    Urbana                135700   136400   137700   138700   140500
WI    New Denmark           188700   189800   190800   191200   191200
CA    Angels                280400   279600   278000   276600   275000
WI    Holland               217800   219400   221100   222000   222800

                           2016-04  2016-05  2016-06  2016-07  2016-08
State RegionName
NY    New York              592200   592500   590200   588000   586400
CA    Los Angeles           574000   577800   580600   583000   585100
IL    Chicago               207300   208200   209100   211000   213000
PA    Philadelphia          126400   127000   127400   128300   129100
AZ    Phoenix               190200   191300   192800   194500   195900
NV    Las Vegas             196100   197300   198200   199300   200600
CA    San Diego             533900   536900   537900   539000   540500
TX    Dallas                143300   144500   146000   148200   150400
CA    San Jose              817600   819100   820100   821700   822700
FL    Jacksonville          136000   137200   138400   139500   140300
CA    San Francisco        1123200  1119800  1114800  1108800  1104000
TX    Austin                299200   301800   303300   304100   304800
MI    Detroit                37400    37500    37500    37700    38100
OH    Columbus              117700   118100   118800   119700   120500
TN    Memphis                73100    74300    75100    75600    76200
NC    Charlotte             168400   169500   170400   171700   173100
TX    El Paso               111500   111400   111500   112100   112300
MA    Boston                488000   489700   493400   499200   504200
WA    Seattle               568600   576200   581800   587200   592200
MD    Baltimore             114700   114600   114900   115100   115200
CO    Denver                339700   342700   345900   349800   353300
DC    Washington            503400   505100   508900   513900   518600
TN    Nashville             198400   200300   202400   205000   207200
WI    Milwaukee              95900    96300    96900    98200    99500
AZ    Tucson                150700   151100   151700   152400   153000
OR    Portland              364400   369300   375700   383600   390500

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"